html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(114, 113, 113);
    border-radius: 10px;
    height: 200px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

@mixin lg {
    @media screen and (max-width: 1536px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 900px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 600px) {
        @content;
    }
}

.menu {
    position: fixed;
    z-index: 10;
    width: 100%;
    // height: 55%;
    top: -100%;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    transition: top .35s ease;

    @include xs {
        top: -110%;
    }

}

.menu-drop {
    top: 0;
}

.fix {
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.352);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.search-bar {
    border: none;
    outline: none;
    width: 200px;
    padding: 5px 10px;
    border-radius: 20px;

    // @include xs {
    //     width: 250px;
    // }

    // @include sm {
    //     width: 250px;
    // }

    // @include md {
    //     width: 275px;
    // }

    // @include lg {
    //     width: 200px;
    // }
}

.card {
    &:hover {
        transform: scale(1.05);
    }
}

.card_media {
    position: relative;
    cursor: pointer;

    &:hover {
        // .card_content {
        //     bottom: 0;
        // }

        .card_content_noPic {
            top: 100%;
        }
    }
}

// .card_content {
//     background: #fff;
//     color: black;
//     font-weight: bold;
//     text-align: center;
//     position: absolute;
//     bottom: -10em;
//     overflow-wrap: break-word;
//     width: 170px;
//     transition: all ease .35s;
// }

// .card_content_noPic {
//     background: #414141d7;
//     color: white;
//     text-align: center;
//     position: absolute;
//     top: 200%;
//     overflow-wrap: break-word;
//     width: 170px;
//     transition: all ease .35s;
// }

.details {
    color: lightgrey;
    font-weight: normal;
    line-height: 1.2rem;
    text-decoration: none;
    font-size: 0.85rem;

    @include xs {
        font-size: 0.7rem;
    }
}

.details-cast {
    color: lightgrey;
    font-weight: normal;
    line-height: 1.2rem;
    text-decoration: none;
    font-size: 0.85rem;

    &:hover {
        color: gold;
    }

    @include xs {
        font-size: 0.7rem;
    }
}

.button {
    &:hover {
        color: #fff;
    }

    // background-color: rgba(255, 255, 255, 0.262);
    // padding: .3em 1em;
    // border-radius: 2em;
    // width: fit-content;
}

.bg {
    z-index: -1;
    position: absolute;
    background-position: center;
    background-size: cover;
    filter: brightness(25%);
}